[submodule "Engine/ThirdParty/GLFW"]
	path = Engine/ThirdParty/GLFW
	url = https://github.com/glfw/glfw
[submodule "Engine/ThirdParty/imgui"]
	path = Engine/ThirdParty/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Engine/ThirdParty/GLM"]
	path = Engine/ThirdParty/GLM
	url = https://github.com/g-truc/glm
[submodule "Engine/Editor/Canvas"]
	path = Engine/Editor/Canvas
	url = https://github.com/RealityArtStudios/Canvas
